.about {
  display: flex;
  flex-direction: row;
  max-width:1200px;
  margin:0px auto;
  line-height: 1.6;
}

.linklist {
  display: flex;
  flex-direction: column;
  text-align: right;
}

h3 {
  color: teal;
  font-size: 115%;
  text-align: right;
}

ul {
  color: lightgray;
  font-family: 'Playfair Display', serif;
  font-size: 115%;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  text-align: right;
}