  iframe {
    margin: 0 auto;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
    max-width: 499px;
  }

    /* Flex Item */
  .gallery__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery__item > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: .15rem;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, .75);*/
  }
  
  .gallery__item > img:hover {
    cursor: pointer;
  }
  
  /* Responsive */
  @media only screen and (min-width: 500px) {
    .gallery {
      max-width: 719px;
    }
    .gallery__item {
      width: calc((100% / 2) - 10px);
    }
    
    .gallery__item:nth-child(even) {
      margin-left: 20px;
    }
  }
  
  @media only screen and (min-width: 720px) {
    .gallery {
      max-width: 100%;
      padding: 20px 20px 0 0;
    }
    
    .gallery__item {
      width: calc((100% / 2) - 20px);
    }
    
    .gallery__item:nth-child(odd) {
      margin-left: 20px;
    }	
  }