.resume-section {
  /*display: flex;
  flex-direction: row;*/
  max-width:1200px;
  margin:0px auto;
  margin-top: 4rem;
  border-top: 0.0625rem solid grey;
  padding-top: 2.25rem;
  line-height: 1.6;
}

.links-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2.links-section {
  text-align: center;
  margin-bottom: 0px;
  font-size: 200%;
}

h6.links-section {
  margin-top: 5px;
}

img.links-section {
  border-radius: 50%;
  max-width: max-content;
  align-self: center;
}

.experience-section {
  /*display: flex;
  flex-direction: row;*/
  max-width:1200px;
  margin:0px auto;
  margin-bottom: 4rem;
  border-bottom: 0.0625rem solid grey;
  padding-bottom: 2.25rem;
  line-height: 1.6;
}

p.experience-section {
  font-size: 100%;
}

.links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 150%;
  text-align: left;
}

h3 {
  color: teal;
  font-size: 115%;
  text-align: left;
}