  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    max-width: 1400px;
    margin:0px auto;
    margin-bottom: 75px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .name {
    text-align: left;
    line-height: 0%;
  }

  /*.topnav {

  }*/

  a {
    text-decoration: none;
    color: lightgray;
    font-family: 'Montserrat', sans-serif;
    font-size: 130%;
    margin-left: 16px;
  }

  a:hover {
    color: darkgray;
  }

  h1 {
    color: lightgray;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 150%;
    margin-bottom: 0px;
  }

  h6 {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 100%;
    margin-top: 25px;
  }
