/*body {
    background-color: rgb(20, 20, 20);
  }*/
body {
  background-image: url(../../img/Folding01_Dark.png);
  background-attachment: fixed;
  flex: 1 1 auto; 
}

.content {
  max-width:1200px;
  width:100%;
  margin:0 auto;
  padding:0 24px
}

h1 {
  color: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 250%;
}

h2 {
  color: lightgray;
  font-family: 'Playfair Display', serif;
  font-size: 200%;
}

h3 {
  color: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 150%;
}

p {
  color: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
  /*font-size: 1.625rem;*/
  margin-bottom: 48px;
  /*line-height: 1.65;*/
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: lightgray;
  font-family: 'Playfair Display', serif;
  font-size: 100%;
  }